<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Agregar nuevo Modelo:</h4>
    <form [formGroup]="form" class="form-inline">
      <!-- Selector Marcas -->
      <mat-form-field class="form-group">
        <mat-select placeholder="Seleccione una Marca" formControlName="recordnameparent" autocomplete="off">
          <mat-option *ngFor="let brand of brands" [value]="brand.Name">
            {{ brand.Name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('recordnameparent').errors?.required">
          Campo <strong>requirido</strong>
        </mat-error>
      </mat-form-field>

      <div class="form-group mx-sm-3">
        <input type="text" placeholder="Ingrese modelo" formControlName="recordname" class="form-control" />
      </div>

      <button (click)="saveRecord()" [disabled]="form.invalid" mat-raised-button color="primary">
        Guardar
      </button>
    </form>
  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Modelos</h4>

    <div class="row">

      <div class="col-md-12">
        <div class="table-responsive">
          <ngx-table class="table table-hover" [configuration]="configuration" [data]="data" [columns]="columns"
            [noResultsTemplate]="noResultsTemplate">
            <ng-template let-row>
              <td>{{ row.ModelId }}</td>
              <td>{{ row.BrandName }}</td>
              <td>{{ row.Name }}</td>
              <td>
                <a (click)="editRecord(row)" href="javascript:void(0)">
                  <i class="material-icons">mode_edit</i>
                </a>
                <a (click)="confirmDelete(row)" href="javascript:void(0)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </ng-template>
          </ngx-table>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #noResultsTemplate>
  <td [attr.colspan]="columns.length" class="no-results">
    No existen Modelos registrados.
  </td>
</ng-template>