<!-- Componente para editar -->
<div *ngIf="data['action'] === 'edit'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">info</mat-icon>
    <h4>Editar Registro</h4>
  </div>
  <div [formGroup]="form">
    <mat-form-field>
      <input matInput [(ngModel)]="recordName" placeholder="Nombre categoria" formControlName="recordname"
        autocomplete="off" autofocus />
      <mat-error *ngIf="form.get('recordname').errors?.required">
        Campo <strong>requirido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="icon" placeholder="Icono categoria" formControlName="icon" autocomplete="off" />
      <mat-error *ngIf="form.get('icon').errors?.required">
        Campo <strong>requirido</strong>
      </mat-error>
    </mat-form-field>

  </div>
  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button [disabled]="form.invalid" class="mat-button" mat-button="" tabindex="2" type="button"
      aria-label="Close dialog" (click)="setAnswer(true)" mat-raised-button color="primary">
      <span class="mat-button-wrapper">Aceptar</span>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="setAnswer(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
    </button>
  </div>
</div>

<!-- Componente para eliminar -->
<div *ngIf="data['action'] === 'delete'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">warning</mat-icon>
    <h4>Atención</h4>
  </div>
  <mat-dialog-content>Seguro desea eliminar el registro:
    {{ recordName }}</mat-dialog-content>

  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button class="mat-button" mat-button="" tabindex="2" type="button" aria-label="Close dialog" mat-raised-button
      color="primary" (click)="setAnswer(true)">
      <span class="mat-button-wrapper">Aceptar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="setAnswer(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>