<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/brands">
        <i class="menu-icon mdi mdi-tag"></i>
        <span class="menu-title">Marcas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/models">
        <i class="menu-icon mdi mdi-car"></i>
        <span class="menu-title">Modelos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/motors">
        <i class="menu-icon mdi mdi-settings"></i>
        <span class="menu-title">Motores</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/motorsversions">
        <i class="menu-icon mdi mdi-engine"></i>
        <span class="menu-title">Version de Motores</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stereos">
        <i class="menu-icon mdi mdi-radio"></i>
        <span class="menu-title">Equipos de Sonido</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sparecategories">
        <i class="menu-icon mdi mdi-barcode-scan"></i>
        <span class="menu-title">Categorias de productos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sales">
        <i class="menu-icon mdi mdi-format-list-bulleted"></i>
        <span class="menu-title">Ventas</span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" routerLink="/plans">
        <i class="menu-icon mdi mdi-format-list-bulleted"></i>
        <span class="menu-title">Planes</span>
      </a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/banners">
        <i class="menu-icon mdi mdi-radio-tower"></i>
        <span class="menu-title">Banners</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vehiclesonsale">
        <i class="menu-icon mdi mdi-currency-usd" style="margin-left: 0px; padding-left: 12px;margin-bottom: 15px;"></i>
        <i class="menu-icon mdi mdi-car"
          style="margin-left: 0px;padding-left: 0px;margin-right: 0px;padding-right: 0px;position: absolute;"></i>
        <span class="menu-title">Vehiculos en Venta</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cranes">
        <i class="menu-icon mdi mdi-help" style="margin-left: 0px; padding-left: 12px;margin-bottom: 15px;"></i>
        <i class="menu-icon mdi mdi-car"
          style="margin-left: 0px;padding-left: 0px;margin-right: 0px;padding-right: 0px;position: absolute;"></i>
        <span class="menu-title">Gruas por Aprobar</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/cranes-approved">
          <i class="menu-icon mdi mdi-help" style="margin-left: 0px; padding-left: 12px;margin-bottom: 15px;"></i>
          <i class="menu-icon mdi mdi-car"
            style="margin-left: 0px;padding-left: 0px;margin-right: 0px;padding-right: 0px;position: absolute;"></i>
          <span class="menu-title">Gruas Aprobadas</span>
        </a>
      </li>
  </ul>
</nav>
