<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Gruas por Aprobar</h4>

    <div class="row">

      <div class="col-md-12">
        <div class="table-responsive">
          <ngx-table class="table table-hover" [configuration]="configuration" [data]="data" [columns]="columns"
            [noResultsTemplate]="noResultsTemplate">
            <ng-template let-row>
              <td>{{ row.CraneId }}</td>
              <td> <img [src]=row.IdentificationPhoto></td>
              <td> <img [src]=row.UserPhoto></td>
              <td>{{ row.Names }} {{ row.LastNames }}</td>
              <td>{{ row.IdentificationNumber }}</td>
              <td>{{ row.Rif }}</td>
              <td>
                {{ row.Phone }} <br>
                {{ row.Email }}
              </td>
              <td> <img [src]=row.CranePhoto></td>
              <td>
                Marca: {{ row.BrandName }} <br>
                Modelo: {{ row.ModelName }}
              </td>

              <td>{{ row.Plate }}</td>
              <td>
                <ng-container *ngIf="row.CraneMemershipId">
                    <mat-checkbox [(ngModel)]="row.IsPayed" value="true" (click)="updatePayment(row, !row.IsPayed)"></mat-checkbox>
                </ng-container>

                </td>
              <td>
                <a (click)="editRecord(row)" href="javascript:void(0)">
                  <i class="material-icons">mode_edit</i>
                </a>
                <a (click)="confirmDelete(row)" href="javascript:void(0)">
                    <i class="material-icons">delete</i>
                  </a>
              </td>
            </ng-template>
          </ngx-table>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #noResultsTemplate>
  <td [attr.colspan]="columns.length" class="no-results">
    No existen gruas registrados.
  </td>
</ng-template>
