<div class="container-fluid" style="margin-top:20px;">
  <div class="row" style="margin-bottom:20px;">
    <!-- total marcas, motores y versiones de motores -->
    <div class="col-sm-12"><app-utility-counter></app-utility-counter></div>
  </div>

  <div class="row" style="margin-bottom:20px">
    <!-- Ultimos 10 usuarios -->
    <div class="col-sm-12"><app-last-users></app-last-users></div>
  </div>

  <div class="row" style="margin-bottom:20px">
    <!-- Ultimos 10 vehiculos -->
    <div class="col-sm-12"><app-last-vehicles></app-last-vehicles></div>
  </div>
</div>
