<div class="card">
  <div class="card-body">
    <h4 class="card-title">Vehículos recientes:</h4>
    <div class="table-responsive" *ngIf="vehicleData">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Kilometraje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of vehicleData">
            <td>
              <img [src]="row.Photo" width="100">
            </td>
            <td>{{ row.Brand }}</td>
            <td>{{ row.Model }}</td>
            <td>{{ row.Year }}</td>
            <td>{{ row['Kilometers'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="vehicleData && vehicleData.length === 0">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title> No existen Vehiculos agregados </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
