<div class="card">
  <div class="card-body">
    <h4 class="card-title">Servicios Esenciales {{ title }}</h4>

    <div class="row">

      <div class="col-md-12">
        <div class="table-responsive">
          <ngx-table class="table table-hover" [configuration]="configuration" [data]="dataTable" [columns]="columns"
            [noResultsTemplate]="noResultsTemplate">
            <ng-template let-row>
              <td>{{ row.Name }}</td>
              <td>{{ row.Kilometers }}</td>
              <td>{{ row.Price }}</td>
              <td>{{ row.WhoRealized }}</td>
              <td>{{ row.Description }}</td>
              <td>{{ row.Date }}</td>
              <td>{{ row.Months }}</td>
              <td> <img [src]=row.Photo></td>
            </ng-template>
          </ngx-table>
          <ng-template #noResultsTemplate>
            <td [attr.colspan]="columns.length" class="no-results">
              No existen vehiculos a la venta registrados.
            </td>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
