<!-- editar -->
<div *ngIf="data['action'] === 'edit'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">info</mat-icon>
    <h4>Editar Banner</h4>
  </div>
  <div [formGroup]="form">
    <div class="row">
      <div class="col-12 form-group">
        <input [(ngModel)]="data.url" type="text" placeholder="Ingrese URL de Banner" formControlName="url"
          class="form-control" (input)="setFieldMandatory()"/>
      </div>

      <div class="col form-group" style="cursor: pointer">
        <img [src]="url" height="150" onclick="document.getElementById('modalFileToUpload').click()">
        <label for="modalFileToUpload">
          <i class="material-icons">add_circle</i>
        </label>
        <input id="modalFileToUpload" formControlName="photo" type="file" autocomplete="off"
          style="display: none;" (change)="inputChangedModal($event)">
      </div>
    </div>

  </div>
  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button [disabled]="form.invalid" class="mat-button" mat-button="" tabindex="2" type="button"
      aria-label="Close dialog" (click)="close(true)" mat-raised-button color="primary">
      <span class="mat-button-wrapper">Aceptar</span>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="close(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
    </button>
  </div>
</div>

<!-- Componente para eliminar -->
<div *ngIf="data['action'] === 'delete'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">warning</mat-icon>
    <h4>Atención</h4>
  </div>
  <mat-dialog-content>
    Seguro desea eliminar el registro: {{ data.recordId }}
  </mat-dialog-content>

  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button class="mat-button" mat-button="" tabindex="2" type="button" aria-label="Close dialog" mat-raised-button
      color="primary" (click)="close(true)">
      <span class="mat-button-wrapper">Aceptar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="close(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>
