<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Filtros </h4>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Marcas" [matAutocomplete]="autoMarcas" formControlName="brandCtrl"
              autocomplete='off'>
            <mat-hint align="start">Seleccione o Escriba para filtrar por marca</mat-hint>
            <mat-autocomplete #autoMarcas="matAutocomplete" [displayWith]="displayFnBrands" panelWidth="300px">
              <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                {{brand.Name}}
              </mat-option>
            </mat-autocomplete>
            <span matSuffix style="cursor: pointer;">
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Modelos" [matAutocomplete]="autoModel" formControlName="modelCtrl"
              autocomplete='off'>
            <mat-hint align="start">Seleccione o Escriba para filtrar por modelo</mat-hint>
            <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayFnModels" panelWidth="300px">
              <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                {{model.Name}} - {{model.BrandName}}
              </mat-option>
            </mat-autocomplete>
            <span matSuffix style="cursor: pointer;">
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Ubicación" formControlName="locationCtrl" autocomplete='off'>
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput appNumber placeholder="Año desde" formControlName="yearFromCtrl" autocomplete='off'>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input matInput appNumber placeholder="Año Hasta" formControlName="yearToCtrl" autocomplete='off'>
          </mat-form-field>
        </div>
      </div>



      <mat-card-actions class="row justify-content-end d-flex">
        <div style="margin-right: 10px;">
          <button (click)="filterData()" mat-raised-button color="primary">
            Filtrar
          </button>
        </div>

        <div>
          <button (click)="clearFilters()" mat-raised-button color="warn">
            Limpiar Filtros
          </button>
        </div>
      </mat-card-actions>

    </form>

  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Vehiculos en venta</h4>

    <div class="row">

      <div class="col-md-12">
        <div class="table-responsive">
          <ngx-table class="table table-hover" [configuration]="configuration" [data]="data" [columns]="columns"
            [noResultsTemplate]="noResultsTemplate">
            <ng-template let-row>
              <td>{{ row.VehicleOnSaleId }}</td>
              <td> <img [src]=row.Photo></td>
              <td>{{ row.SellerName }}</td>
              <td>{{ row.Name }}</td>
              <td>
                <mat-checkbox [(ngModel)]="row.VehicleIsPayed" value="true" (click)="updatePayment(row)"></mat-checkbox>
              </td>
              <td>{{ row.Price }}</td>
              <td>{{ row.VehiclePlan }}</td>
              <td>
                <button mat-icon-button *ngIf="row.TotalEssentialServices > 0" (click)="viewEssentialServices(row)">
                  <mat-icon color="primary" matBadge="{{row.TotalEssentialServices}}" matBadgePosition="before"
                    matBadgeColor="warn" matTooltip="Servicios Esenciales">
                    settings_applications</mat-icon>
                </button>

                <button mat-icon-button *ngIf="row.TotalAdditionalServices > 0" (click)="viewAdditionalServices(row)">
                  <mat-icon color="primary" matBadge="{{row.TotalAdditionalServices}}" matBadgePosition="before"
                    matBadgeColor="warn" matTooltip="Servicios Adicionales">
                    history</mat-icon>
                </button>
              </td>
            </ng-template>
          </ngx-table>
          <ng-template #noResultsTemplate>
            <td [attr.colspan]="columns.length" class="no-results">
              No existen vehiculos a la venta registrados.
            </td>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
