<div class="container-scroller">

    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
              <img src="assets/logo.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
              <img src="assets/logo-sm.png" alt="logo" />
          </a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center">

          <ul class="navbar-nav navbar-nav-right">

              <li class="nav-item dropdown d-none d-xl-inline-block">
                  <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                      <span class="profile-text">Bienvenido, administrador!</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown" style="padding: 10px;">
                      <a class="dropdown-item" (click)="logOut()">
                          Cerrar sesión
                      </a>
                  </div>
              </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
          </button>
      </div>
  </nav>

  <div class="container-fluid page-body-wrapper">
      <!-- Menu de la app -->
      <app-menu></app-menu>

      <div class="main-panel">
          <div class="content-wrapper">

              <router-outlet></router-outlet>

          </div>
      </div>
      
  </div>
</div>