<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="card">
  <div [formGroup]="form">
    <div class="card-body">
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <h4 class="card-title">Editar Grua </h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || form.pristine"
            (click)="guardarCambios()">Guardar</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="well">
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Nombres" formControlName="Names" autocomplete="off" />
              <mat-error *ngIf="form.get('Names').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Apellidos" formControlName="LastNames" autocomplete="off" />
              <mat-error *ngIf="form.get('LastNames').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Cedula" formControlName="IdentificationNumber" autocomplete="off" />
              <mat-error *ngIf="form.get('IdentificationNumber').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="well">
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Rif" formControlName="Rif" autocomplete="off" />
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Telefono" formControlName="Phone" autocomplete="off" />
              <mat-error *ngIf="form.get('Phone').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Email" formControlName="Email" autocomplete="off" />
              <mat-error *ngIf="form.get('Email').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="well">
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Marcas" [matAutocomplete]="autoMarcas" formControlName="BrandId"
                autocomplete='off'>
              <mat-hint align="start">Seleccione o Escriba para filtrar por marca</mat-hint>
              <mat-autocomplete #autoMarcas="matAutocomplete" [displayWith]="displayFnBrands" panelWidth="400px">
                <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                  {{brand.Name}}
                </mat-option>
              </mat-autocomplete>
              <span matSuffix style="cursor: pointer;">
                <mat-icon (click)="form.get('BrandId').setValue(null)">arrow_drop_down</mat-icon>
              </span>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Modelos" [matAutocomplete]="autoModel" formControlName="ModelId"
                autocomplete='off'>
              <mat-hint align="start">Seleccione o Escriba para filtrar por modelo</mat-hint>
              <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayFnModels" panelWidth="400px">
                <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                  {{model.Name}} - {{model.BrandName}}
                </mat-option>
              </mat-autocomplete>
              <span matSuffix style="cursor: pointer;">
                <mat-icon (click)="form.get('ModelId').setValue(null)">arrow_drop_down</mat-icon>
              </span>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Plate" formControlName="Plate" autocomplete="off" />
              <mat-error *ngIf="form.get('Plate').errors?.required">
                Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>

      <div class="row mt-5">

        <div class="col-sm-4">
          <div class="row">
            <div class="col-12 d-flex justify-content-start">
              <button type="button" mat-raised-button color="primary"
                onclick="document.getElementById('IdentificationPhoto').click()">Foto Identificacion</button>
            </div>

          </div>
          <div class="row mt-2">
            <div class="col-12">
              <img [src]="urlIdentificationPhoto" *ngIf="urlIdentificationPhoto" width="300"
                onclick="document.getElementById('IdentificationPhoto').click()">
              <input formControlName="IdentificationPhoto" id="IdentificationPhoto" type="file" autocomplete="off"
                style="display: none;" (change)="idPhotoInputChanged($event)">
            </div>
          </div>
        </div>
        <div class="col-sm-4">

          <div class="row">
            <div class="col-12 d-flex justify-content-start">
              <button type="button" mat-raised-button color="primary"
                onclick="document.getElementById('UserPhoto').click()">Foto Usuario</button>
            </div>

          </div>
          <div class="row mt-2">
            <div class="col-12">
              <img [src]="urlUserPhoto" *ngIf="urlUserPhoto" width="300"
                onclick="document.getElementById('UserPhoto').click()">
              <input formControlName="UserPhoto" id="UserPhoto" type="file" autocomplete="off" style="display: none;"
                (change)="userPhotoInputChanged($event)">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-12 d-flex justify-content-start">
              <button type="button" mat-raised-button color="primary"
                onclick="document.getElementById('CranePhoto').click()">Foto Grua</button>
            </div>

          </div>
          <div class="row mt-2">
            <div class="col-12">
              <img [src]="urlCranePhoto" *ngIf="urlCranePhoto" width="300"
                onclick="document.getElementById('CranePhoto').click()">
              <input formControlName="CranePhoto" id="CranePhoto" type="file" autocomplete="off" style="display: none;"
                (change)="inputChanged($event)">
            </div>
          </div>

        </div>

      </div>
    </div>
</div>
