<b>Utilitarios registrados:</b>
<hr />
<div class="row" *ngIf="utilityData">

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" (click)="navigateTo('/sales')" style="cursor:pointer;">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-shopping text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ventas</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ utilityData['SalesTotal'] }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total ventas de repuestos.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" (click)="navigateTo('/brands')" style="cursor:pointer;">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-tag text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Marcas</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ utilityData['BrandsTotal'] }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total marcas de vehículos registrados.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" (click)="navigateTo('/models')" style="cursor:pointer;">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-car text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Modelos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ utilityData['ModelsTotal'] }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total modelos de marcas registrados.
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" (click)="navigateTo('/motorsversions')" style="cursor:pointer;">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-engine text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Versiones de Motores</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ utilityData['MotorVersionsTotal'] }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Versiones de Motores registrados.
        </p>
      </div>
    </div>
  </div>
</div>
