<!-- Crear o editar -->
<div *ngIf="data['action'] === 'edit' || data['action'] === 'create'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">info</mat-icon>
    <h4>{{ data.action === 'create' ? 'Nuevo' : 'Editar' }} Plan</h4>
  </div>
  <div [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <input matInput [(ngModel)]="data.row.Name" placeholder="Nombre del Plan" formControlName="Name"
            autocomplete="off" autofocus />
          <mat-error *ngIf="form.get('Name').errors?.required">
            Campo <strong>requirido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field>
          <input matInput [(ngModel)]="data.row.TypeOfPost" placeholder="Tipo de Post" formControlName="TypeOfPost"
            autocomplete="off" />
          <mat-error *ngIf="form.get('TypeOfPost').errors?.required">
            Campo <strong>requirido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field>
          <input matInput [(ngModel)]="data.row.MaxPhotos" placeholder="Maximo fotos" formControlName="MaxPhotos"
            autocomplete="off" />
          <mat-error *ngIf="form.get('MaxPhotos').errors?.required">
            Campo <strong>requirido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field>
          <input matInput [(ngModel)]="data.row.Price" placeholder="Precio" formControlName="Price"
            autocomplete="off" />
          <mat-error *ngIf="form.get('Price').errors?.required">
            Campo <strong>requirido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-checkbox [(ngModel)]="data.row.Featured" formControlName="Featured" value="true">Destacado?</mat-checkbox>
      </div>
    </div>

  </div>
  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button [disabled]="form.invalid" class="mat-button" mat-button="" tabindex="2" type="button"
      aria-label="Close dialog" (click)="close(true)" mat-raised-button color="primary">
      <span class="mat-button-wrapper">Aceptar</span>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="close(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
    </button>
  </div>
</div>

<!-- Componente para eliminar -->
<div *ngIf="data['action'] === 'delete'">
  <div mat-dialog-title>
    <mat-icon matListIcon style="float: left; margin-right: 10px;">warning</mat-icon>
    <h4>Atención</h4>
  </div>
  <mat-dialog-content>
    Seguro desea eliminar el registro: {{ data.recordName }}
  </mat-dialog-content>

  <div class="mat-dialog-actions" mat-dialog-actions="">
    <button class="mat-button" mat-button="" tabindex="2" type="button" aria-label="Close dialog" mat-raised-button
      color="primary" (click)="close(true)">
      <span class="mat-button-wrapper">Aceptar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button class="mat-button" mat-button="" tabindex="-1" (click)="close(false)" mat-raised-button color="warn">
      <span class="mat-button-wrapper">Cancelar</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>