<mat-progress-bar
  color="primary"
  mode="indeterminate"
  *ngIf="loading"
></mat-progress-bar>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Agregar nueva Marca:</h4>
      <form [formGroup]="form" class="form-inline">    
        <div class="form-group">
          <input type="text" placeholder="Ingrese marca" formControlName="recordname" class="form-control">
        </div>
        <div class="mx-sm-3">
          <button (click)="saveRecord()" [disabled]="form.invalid" mat-raised-button color="primary">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Marcas</h4>

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <ngx-table class="table table-hover"
              [configuration]="configuration"
              [data]="data"
              [columns]="columns"
              [noResultsTemplate]="noResultsTemplate"
            >
              <ng-template let-row>
                <td>{{ row.BrandId }}</td>
                <td>{{ row.Name }}</td>
                <td>
                  <a (click)="editRecord(row)" href="javascript:void(0)">
                    <i class="material-icons">mode_edit</i>
                  </a>
                  <a (click)="confirmDelete(row)" href="javascript:void(0)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </ng-template>
            </ngx-table>
          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #noResultsTemplate>
  <td [attr.colspan]="columns.length" class="no-results">
    No existen Marcas registradas.
  </td>
</ng-template>
