<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<hr />

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Ventas</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <ngx-table class="table table-hover" [configuration]="configuration" [data]="data" [columns]="columns"
            [noResultsTemplate]="noResultsTemplate">
            <ng-template let-row>
              <td>{{ row.SaleId }}</td>
              <td><img [src]="row.SparePhoto" width="100"></td>
              <td>{{ row.SellerName }}</td>
              <td>{{ row.BuyerName }}</td>
              <td>{{ row.SpareName }}</td>
              <td>{{ row.BrandName }}</td>
              <td>{{ row.ModelName }}</td>
              <td>{{ row.Price }}</td>
              <td>
                <select (change)="selectChanged($event, row.SaleId)">
                  <option value="0" [selected]="row.Payed == 0">
                    No pagado
                  </option>
                  <option value="1" [selected]="row.Payed == 1">
                   Pagado
                  </option>
                </select>
              </td>
            </ng-template>
          </ngx-table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResultsTemplate>
  <td [attr.colspan]="columns.length" class="no-results">
    No existen ventas registradas.
  </td>
</ng-template>