<div class="card">
  <div class="card-body">
    <h4 class="card-title">Usuarios recientes:</h4>
    <div class="table-responsive" *ngIf="userData">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Correo electrónico</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of userData">
            <td>
              <img [src]="row.Photo" width="100">
            </td>
            <td>{{ row.Name }}</td>
            <td>{{ row['Username'] }}</td>
            <td>{{ row['Email'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="userData && userData.length === 0">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title> No existen Usuarios agregados </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
