<mat-progress-bar
  color="primary"
  mode="indeterminate"
  *ngIf="loading"
></mat-progress-bar>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
              <div class="col-lg-4 mx-auto">
                  <div class="auto-form-wrapper">
                      
                      <div class="text-center">
                        <img src="assets/logo.png" alt="Cranky CMS" height="70" />
                      </div>

                      <hr>

                      <form [formGroup]="form">
                        <legend>Iniciar sesión</legend>
                        <p>Bienvenido, por favor ingrese su correo y contraseña</p>

                          <div class="form-group">
                            <mat-form-field style="width: 100%;">
                              <input
                                formControlName="username"
                                type="text"
                                matInput
                                name="username"
                                placeholder="Correo electrónico"
                              />
                              <mat-error *ngIf="form.get('username').errors?.required"
                                >Campo <strong>requirido</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>

                          <div class="form-group">
                            <mat-form-field style="width: 100%;">
                              <input
                                formControlName="password"
                                type="password"
                                matInput
                                name="password"
                                placeholder="Contraseña"
                              />
                              <mat-error *ngIf="form.get('password').errors?.required"
                                >Campo <strong>requirido</strong>
                              </mat-error>
                              <mat-error *ngIf="form.get('password').errors?.minlength"
                                >Minimo 8 caracteres
                              </mat-error>
                            </mat-form-field>
                          </div>

                          <div class="form-group">
                            <button
                            type="button"
                            mat-raised-button
                            color="primary"
                            [disabled]="form.invalid"
                            (click)="login()"
                            class="btn btn-primary submit-btn btn-block"
                            >
                              Iniciar sesión
                            </button>
                          </div>

                          <div class="form-group d-flex justify-content-between">
                            <a routerLink="/passwordrecovery" class="text-small forgot-password text-black">¿Olvidó su contraseña?</a>
                          </div>

                          <hr>

                          <div class="copyright text-center">
                            <small>&copy; {{ year }} Cranky CMS. Todos los derechos reservados</small>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>