<mat-progress-bar
  color="primary"
  mode="indeterminate"
  *ngIf="loading"
></mat-progress-bar>

<div class="container">
  <div class="row">
    <div class="col-md-12 ml-md-auto">
      <div class="main-login">
        <div class="text-center">
          <img src="" alt="Cranky CMS" width="80%" />
        </div>

        <form class="form-login" [formGroup]="form">
          <fieldset>
            <p>
              Por favor ingrese su correo electronico o nombre de usuario Cranky
              para reestablecer su contraseña
            </p>

            <mat-form-field style="width: 100%;">
              <input
                formControlName="param"
                type="text"
                matInput
                name="param"
                placeholder="Correo electrónico o nombre de usuario Cranky"
              />
              <mat-error *ngIf="form.get('param').errors?.required"
                >Campo <strong>requirido</strong>
              </mat-error>
            </mat-form-field>

            <div class="text-right">
              <button
                type="button"
                mat-raised-button
                color="primary"
                [disabled]="form.invalid"
                (click)="sendEmailPassword()"
              >
                Enviar contraseña
              </button>
            </div>
            <div><a routerLink="/login">Volver al login</a></div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
